$color-img-pink-light: #d66d75;
$color-img-pink-white: #e29587;
$color-white: #fff;
$color-white-light: #f7f7f7;
$color-pink-light: #fd5b68;
$color-pink-white: #f18b79;
$color-red: #ff0000;
$color-text-white: #f7f7f769;
$color-black: black;
$color-yellow-light: #f5cd79;
$color-yellow-white: #f7d794;
$color-quan: aqua;
$color-quan-light: #3dc1d3;
$color-quan-white: #63cdda;
$color-green-white: #7bed9f;
$color-green-light: #2ed573;
$color-white-high: #ffffff;
$color-black-dark: #999;
$color__nav_bar: rgba(46, 45, 45, 0.997);
$color__body: #D65DB1;
$color_gray__navbar: #686260;
$color__main__card: #DDF2F2;
$color__gray_light_bg: #CFD1BA;

$color: #fff;