@font-face {
    font-family: "font__header";
    src: url('../font/Rye-Regular.ttf');
    font-weight: 40;
    font-style: normal;    
}
@font-face {
    font-family: "font-botton";
    src: url('../font/Bodoni_Moda/BodoniModa-Italic-VariableFont_opsz\,wght.ttf')
}
@font-face {
    font-family: "style-font-title";
    font-weight: 40;
    font-style: normal;
    src: url('../font/Public_Sans/static/PublicSans-SemiBold.ttf')
}
@font-face {
    font-family: "font-title";
    font-weight: 700;
    font-style: normal;
    src: url('../font/Public_Sans/PublicSans-VariableFont_wght.ttf')
}
