@font-face {
    font-family: "font__header";
    src: url('../font/Rye-Regular.ttf');
    font-weight: 40;
    font-style: normal;    
}
@font-face {
    font-family: "font-botton";
    src: url('../font/Bodoni_Moda/BodoniModa-Italic-VariableFont_opsz\,wght.ttf')
}