@import "font-style";
@import "colors";
@import "mixins";
// variabel css

body {
    overflow: hidden;
    background-color: rgb(250 250 250 / var(--tw-bg-opacity, 1));
}    
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid $color-Grey-dark-2;
}
.logo {
    font-size: 24px;
    font-weight: bold;
}
.nav {
    display: flex;
    position: relative;
    right: 15rem;
    font-weight: bold;
    font-size: 1.2rem;
}
.nav > ul {
    list-style: none;
    display: flex;
    gap: 20px; 
    position: relative;
    top: 0.5rem;
}

.nav > li {
    position: relative;
}

.nav li span {
    margin-left: 5px;
}
.pro-button {
    background-color: rgb(2, 2, 188);
    color: white;
    border: none;
    padding: 0.3rem;
    border-radius: 5px;
    font-weight: bold;
    font-family: font__header;
}

.login-button {
    border-radius: 10rem;
    width: 16rem;
    height: 3rem;
    background-color: black;
    color: white;
    font-size: 1rem;
    position: relative;
    padding: 0.3rem;
    bottom: 0.7rem;
}
.login-button > span {
    position: relative;
    bottom: 0.5rem;    
}

.photo {
  width: 19rem;
  object-fit: cover;
  height: 5rem;
  position: relative;
  left: 5rem;
  filter: brightness(0.96) contrast(1.05);
  top: 0.3rem;
}
.photo_git {
    width: 2rem;
    background-color: black;
    object-fit: cover;
    border-radius: 50rem;
    position: relative;
    left: 1rem;

}
.section-line {
    position: relative;
    left: 13rem;
    top: 1.8rem;
    width: 0;
}
.main {
    border-top: 1px solid $color-Grey-dark-2;
    position: relative;
    top: 2rem;
    height: 70rem;
}
.text__divider {
    position: relative;
    bottom: 0.8rem;
    // border: 0.1px solid $color-Grey-dark-2;
    padding: 1.09rem 2rem;
    border-right: 1px solid $color-Grey-dark-2;
    border-left: 1px solid $color-Grey-dark-2;
    right: 1.5rem;
    font-weight: bold;
}

.container-card {
    display: flex;
    justify-content: center;
    position: relative;
    top: 4rem;
    align-items: center;
    right: 10rem;
}
.btn-textline {
    position: relative;
    right: 10rem;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}.btn-textline span {
    @include button-base}   
.btn-textline span:last-child::after {
    content: "";
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 19.3rem;
    height: 2px;
    background: rgba(0, 0, 255, 0.714);
}
.my-btn.active::after{
    background: #007bff;
    opacity: 1;
}
.my-btn { 
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}.my-btn span {
    @include button-base;}
.my-btn span:last-child::after {
    content: "";
    position: absolute;
    left: 0;
    top: 2.5rem; 
    width: 20.9rem;
    height: 2px;
    opacity: 0.2;
    background: #000;
    transition: opacity 0.3s ease;
}
.my-btn span:hover::after {
    opacity: 1;
}
.tline-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}
.tline-btn span {
    position: relative;
    left: 11.1rem;
    @include button-base
}

.tline-btn span:last-child::after {
    content: "";
    position: absolute;
    left: 0;
    top: 2.5rem; 
    width: 21rem;
    height: 2px;
    opacity: 0.2;
    background: #000;
    transition: opacity 0.3s ease;
}
.tline-btn span:hover::after {
    opacity: 1;
}
.btn-success {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    position: relative;
    left: 21.6rem;
}
.btn-success span {
    @include button-base
}
.btn-success span:last-child::after {
    content: "";
    position: absolute;
    left: 0;
    top: 2.5rem; 
    width: 20rem;
    height: 2px;
    // background: $color-Grey-dark-2;
    opacity: 0.2;
    background: #000;
    transition: opacity 0.3s ease;
}
.btn-success span:hover::after {
    opacity: 1;
}
.bento-card {
   display: flex;
    width: 75rem;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 23rem;
    top: 10rem;
    // background: gainsboro;
    // background: rgba(220, 220, 220, 0.188);
    background: #fff;
    height: 25rem;
    border-radius: 10px;
    border: 0.2px solid rgba(128, 128, 128, 0.399);
}

.bento-card_wide {
    display: flex;
    position: relative;
    right: 16rem;
    width: 39rem;
    height: 20rem;
}
.item_wrapper {
    width: 5rem;
    position: relative;
    left: 19.3rem;                                                                                                                                                        
}                                            
.text_haeder {                                                                          
    display: flex;
    gap: 5rem;
    height: 1.5rem;
    width: 39rem;
}
.text-main {
    display: flex;
}
.text-main > span {
    height: 1.5rem;
    width: 3.6rem;
    color: rgba(0, 0, 139, 0.614);
    display: flex;
    font-family: font-title;
    justify-content: center;
    border-radius: 15px;
    background: #69d6de6b; 
}
.card-list  {
    display: flex;
    gap: 2rem;
    position: relative;
    bottom: 1.2rem;
    list-style: none;
    color: rgb(0, 170, 255);
    font-family: font-title;
    font-size: 1.1rem;
}
.card-list li:nth-child(2) {
    color: $color-blue;
}
.item_wrapper {
    border: 1px solid #34D399;
    display: flex;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    font-family: font-title;
}

.item_wrapper > span:nth-child(1) {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    position: relative;
    right: 0.5rem;
    padding: 0 0.4rem;
    display: flex;
    justify-content: center;
    background: #34D399;
    color: white;
}
.item_wrapper > span:nth-child(2) {
    color: #34D399;
}