@import "font-style";
@import "colors";
// variabel css

body {
    overflow: hidden;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // background-color: red;
    background-color: rgb(250 250 250 / var(--tw-bg-opacity, 1));
    // max-width: 100rem;
}    
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid $color-Grey-dark-2;
}


.logo {
    font-size: 24px;
    font-weight: bold;
}


.nav {
    display: flex;
    position: relative;
    right: 15rem;
    // font-family: font__header;
    font-weight: bold;
    font-size: 1.2rem;
}

.nav > ul {
    list-style: none;
    display: flex;
    gap: 20px; 
    position: relative;
    // left: 65rem;
    top: 0.5rem;
}

.nav > li {
    position: relative;
}

.nav li span {
    margin-left: 5px;
}
.pro-button {
    background-color: rgb(2, 2, 188);
    color: white;
    border: none;
    padding: 0.3rem;
    border-radius: 5px;
    font-weight: bold;
    font-family: font__header;
}

.login-button {
    border-radius: 10rem;
    width: 16rem;
    height: 3rem;
    background-color: black;
    color: white;
    font-size: 1rem;
    position: relative;
    padding: 0.3rem;
    bottom: 0.7rem;
}
.login-button > span {
    position: relative;
    bottom: 0.5rem;    
}

.photo {
  width: 19rem;
  object-fit: cover;
  height: 5rem;
  position: relative;
  left: 5rem;
  filter: brightness(0.96) contrast(1.05);
  top: 0.3rem;
}
.photo_git {
    width: 2rem;
    background-color: black;
    object-fit: cover;
    border-radius: 50rem;
    position: relative;
    left: 1rem;

}
.section-line {
    position: relative;
    left: 13rem;
    top: 1.8rem;
    width: 0;
}
.main {
    border-top: 1px solid $color-Grey-dark-2;
    position: relative;
    top: 2rem;
}
.text__divider {
    position: relative;
    bottom: 0.8rem;
    // border: 0.1px solid $color-Grey-dark-2;
    padding: 1.09rem 2rem;
    border-right: 1px solid $color-Grey-dark-2;
    border-left: 1px solid $color-Grey-dark-2;
    right: 1.5rem;
    font-weight: bold;
}
.btn__STEP1 > span {
    display: flex;
    font-size: 1rem;
    color: blue;
}
.container-card {
    display: flex;
    justify-content: center;
    position: relative;
    top: 4rem;
    border-bottom: 1px solid;
}
.card_btn {
    border-bottom: 1px solid;
    width: 17rem;
}
.btn__STEP1 {
    border: none;
    background-color: rgb(250 250 250 / var(--tw-bg-opacity, 1));
}
