// @import "font-style";
@import "colors";
// variabel css

body {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: red;
    background-color: rgb(250 250 250 / var(--tw-bg-opacity, 1));
    max-width: 100rem;
}
.container {
    // border: 1px solid;
    padding: 0.4rem;
    // position: relative;
    // bottom: 0.5rem;
    // right: 2rem;
    // width: 100rem;
    // width: 10rem;
    // width: 100rem;
    // height: 1.5rem;
    // background-color: $color-black;
}
.header__item {
    display: inline;
}
.p {
    position: relative;
    bottom: 1rem;   
    display: flex;
    justify-content: center;
    color: var(--color-Grey-light-2);
    font-family: 'font__header';
}

.mynav {
    display: ruby-text;
    position: relative;
    list-style: none;
    display: ruby-text;
    left: 68rem;
    // bottom: 4.2rem;
    bottom: 6.7rem;
    // bottom: 5.6rem;
}

.mynav > ul{
    // position: relative;
    list-style: none;
    display: ruby-text;
    left: 68rem;
    // bottom: 4.2rem;
    bottom: 4.6rem;
}
.list__item{
    // display: inline-block;
    // left: 60rem;
    // position: relative;
    // bottom: 9.7rem;
    z-index: 1;
}
.button_github {
    background-color: #000;
    color: white;
    height: 3rem;
    width: 15rem;
    border-radius: 50rem;
}

.item {
    font-size: 0.9rem;
    padding: 1rem;
    border: none;
    background-color: #fff;
    font-family: "font__header";
    // position: relative;
    // left: 45rem;
    font-size: 1.3rem;
    font-weight: bold;
    // top: 0.3rem;
    background-color: rgb(250 250 250 / var(--tw-bg-opacity, 1));
}
.span_item {
    background-color: blue;
    padding: 0.2rem;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-family: "font__header";
}
.item:hover {
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--color-text);
}
.item__link_text {
    outline: none;
    color: #fff;
    text-decoration: none;
    padding: 0.5rem;
    position: relative;
    bottom: 2.1px;
    font-size: 1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;

}
.item__link{
    position: relative;
    font-family: l    "font__header";
    padding: 0.5rem;
    background-color: black;
    border-radius: 20px;
    width: 15rem;
    left: 27.2rem;
}

.photo {    
    bottom: 1.6rem;
    width: 19rem;
    object-fit: cover;
    height: 5rem;
    position: relative;
    left: 20rem;
    // top: 0.7rem;   
    // top: 0.5rem; 
    // top: 0.1rem;
    filter: brightness(0.96) contrast(1.05);
}

.image {
    width: 5rem;
    object-fit: cover;
    height: 2rem;
    position: relative;
    top: 5rem;
}
.image1 {
    position: relative;
    top: 5rem;
    width: 5rem;
}
.icone_gitgub {
    border-radius: 60%;
    object-fit: cover;
    width: 1.2rem;
}
.dropdown summary {
    list-style: none;
}

.item1 {
    display: flex;
    position: relative;
    right: 10rem;
}

.menu.show {
  display: block;
}

.header {
    display: flex;
    // background-color: red;
    width: 300em;
}

.main {
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 24px;
}

/* CHALLENGE BADGE */
.text__divider {
  display: inline-block;
//   font-size: 14px;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 600;
  color: #6b7280;
  border: none;
  border-radius: 4px;
  position: relative;
  left: 17.2rem;
  font-weight: bold;
  color: #000;
//   top: 0rem;
  border-left: 1px solid $color-Grey-dark-3;
  border-right: 1px solid $color-Grey-dark-3;
  height: 1.2rem;
  padding: 23px 26px;
}
.section-line {
    position: relative;
    right: 35rem;
    border-top: 1px solid $color-Grey-dark-3;
    border-bottom: 1px solid $color-Grey-dark-3;
    width: 125rem;
    top: 2.3rem;
    height: 4rem;
}
.container-card {
    display: flex;
    position: relative;
    top: 8rem;
    // gap: 0.5rem;
    right: 8rem;

}
.card{
    display: flex;
    padding: 10px;
    // width: 40rem;
    gap: 10rem;
    position: relative;
    right: 4rem;
    bottom: 2rem;
}
.botton {
    border: none;
    background-color: rgb(250 250 250 / var(--tw-bg-opacity, 1));
    font-size: 1.2rem;
    color: $color-text-dark;
    font-family: font-botton;
    border-bottom: 1px solid;
    width: 15rem;
    color: blue;
}

.botton > span {
    display: flex;
}
.btn-wrapper {
     display: flex;
    padding: 10px;
    // width: 40rem;
    // gap: 10rem;
    position: relative;
    right: 4rem;
    bottom: 2rem;
}
.label-btn {
    border: none;
    background-color: rgb(250 250 250 / var(--tw-bg-opacity, 1));
    font-size: 1.2rem;
}
.label-btn > span {
    display: flex;
    font-family: font-botton;
    position: relative;
    // right: 5rem;
}